html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #111111;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: white;

  .container {
    align-self: center;

    .card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

      .title {
        margin: 20px;

        h2 {
          margin: 0;
          padding-bottom: 4px;
          border-bottom: 1px solid white;
        }
      }

      .players {
        padding: 5px 20px;
        display: flex;

        .user-choice,
        .comp-choice {
          width: 50px;
          margin: auto;
          text-align: center;
          font-size: 30px
        }

        .user-label,
        .comp-label {
          font-size: 14px;
          margin: auto;
          background-color: #f80000;
          padding: 2px;
        }

        .user-label {
          position: relative;
          left: 8px;
        }

        .comp-label {
          position: relative;
          left: -8px;
        }

        .score {
          display: flex;
          border: 1px solid white;
          border-radius: 10px;
          font-size: 30px;

          .user-score {
            padding: 15px 15px 15px 20px;
          }

          .comp-score {
            padding: 15px 20px 15px 15px;
          }

          .separator {
            padding: 15px 0;
          }
        }
      }

      .result { 
        width: 92%;
        height: 30px;
        padding: 5px 15px;
        text-align: center;
        font-size: 20px;
      }

      .sub-head {
        margin: 20px 20px 5px 20px;
        padding-bottom: 4px;
        border-bottom: 1px solid white;
      }

      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        .rock, .paper, .scissors {
          font-size: 48px;
          padding: 15px;

          .choice-label {
            font-size: 14px;
            text-align: center;
          }
        }
      }
    }
  }
}
